{% extends 'base/index_empresa.html' %}


<!-- si sacas el contenido se mostrara la pagina por defecto del demo -->
{% block contenido %}

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>


<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

<h1>Prueba de paguina base administradora aqui irian los cuadritos con el + como en el mockups </h1>

{% endblock contenido %}

