{% extends 'base/index_admin.html' %}




{% block contenido %}
<div class="container">
    <h1>Perfil</h1>
    <p>Cuenta: {{ user }}</p>
    <p>Nombre: {{ user.first_name }}</p>
    <p>Apellidos: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Descripcion: {{ user.userprofile.description }}</p>
    <p>Telefono: {{ user.userprofile.phone }}</p>
    <p>Ciudad: {{ user.userprofile.city }}</p>
    {% comment %} <p>Sitio web: {{ user.userprofile.website }}</p> {% endcomment %}
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
</div>

{% endblock %}
